.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header_menu {
  display: flex;
  justify-self: start;
}

.header_menu-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
}

.header_menu-item {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 4px;
}

.header_menu-item_active {
  list-style-type: none;
}

.header_menu-link {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
}

.header_logo-image {
  width: 148px;
  height: 105px;
}

.header_contact {
  justify-self: end;
  list-style-type: none;
}

.header_contact-item {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.line {
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  min-height: 757px;
}

.overlay {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
}

.cover_title {
  display: flex;
  flex-direction: column;
  padding: 165px 50px 135px;
  gap: 20px;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 115px;
  letter-spacing: 30px;
  z-index: 2;
}

.aligned-text {
  align-self: flex-start;
  text-align: center;
  z-index: 2;
}

.aligned-text_center {
  text-align: center;
  align-self: center;
}

.aligned-text_right {
  text-align: right;
  align-self: flex-end;
  margin-right: -30px;
}

.description {
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  gap: 107px;
  padding: 0 50px 50px;
}

.cover_description-text {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: 18px;
  z-index: 2;
}

.bet-button {
  font-size: 22px;
  line-height: 51px;
  text-transform: uppercase;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  text-align: center;
  width: 256px;
  height: 51px;
  z-index: 2;
}

.lots {
  padding: 180px 24px 120px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  padding-bottom: 27px;
  padding-left: 40px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 0 0 30px 0;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #fff;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  text-decoration: underline;
  margin-bottom: 35px;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
  position: relative;
  z-index: 2;
}

.lots__look-more-link {
  display: block;
  padding-left: 40px;
  font-size: 20px;
  line-height: 100%;
  color: #000;
}

.about {
  padding: 120px 24px 0;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column-reverse;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  gap: 25px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 180px 50px 90px;
}

.footer_contact {
  list-style-type: none;
}

.footer_menu {
  justify-self: center;
}

.footer_menu-list {
  list-style-type: none;
  text-underline-offset: 4px;
}

.footer_menu-item {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
}

.footer_menu-link {
  text-decoration: none;
}

.footer_social {
  padding-left: 177.5px;
  justify-self: end;
  list-style: none;
  display: flex;
  gap: 48px;
}

.footer_social-list-item {
  display: block;
  width: 48px;
  height: 48px;
}
