.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header_menu-list {
  display: flex;
  flex-direction: row;
  gap: 13px;
  list-style: none;
}

.header_menu-link {
  color: #000;
  font-size: 18px;
  line-height: 100%;
}

.header_menu-item_active .header_menu-link {
    text-decoration: none;
}

.header_logo {
    display: block;
}

.header_logo-image {
    width: 124.05px; 
    height: 94.84px;
}

.header_contact {
  width: 240px;      
  height: 98px;     
  display: flex; 
  flex-direction: column; 
  font-style: normal; 
  justify-self: end;
}

.header_contact-item {
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 1px;
}

.cover {
  position: relative; 
  background-image: url('../images/cover.jpg');
  background-size: cover; 
  background-position: center;
  padding: 165px 50px 50px;
  height: 757px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
}

.cover_title{
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 100px;
  text-transform: uppercase;
  line-height: 115%;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
  width: 100%;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
  margin-right: -30px;
}

.description {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
  margin-bottom: 50px;
}

.cover_description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0;
  word-spacing: 0;
}

.letter-spacing-extended {
  word-spacing: 19.8px;
}

.bet-button {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 12px 30px; 
  cursor: pointer;
  letter-spacing: 0;
}

.lots {
  padding: 0 24px;;
  margin-bottom: 120px;
  margin-top: 180px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.lots__card-list-item{
  width: calc((100% - 48px) / 3);
  height: 596px;
}

.card-link {
  display: block;
  height: 100%; 
  text-decoration: none; 
  color: #fff;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  text-decoration: underline;
  margin-bottom: 35px;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
  position: relative;
  z-index: 2;
}

.lots__look-more-link {
  display: block; 
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  line-height: 100%;
  color: #000;
}

.about {
  padding: 24px ;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 72px;
  margin-bottom: 120px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 100%;
  margin-top: 136px;
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column-reverse;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  gap: 24px; 
  
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding: 180px 50px 82px;
}

.footer_contact {
  width: 264.57px;      
  height: 98px;     
  display: flex; 
  flex-direction: column; 
  font-style: normal; 
  justify-self: start;
}

.footer_contact-item{
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 1px;
}

.footer_menu {
  width: 163.9px;      
  height: 64px;
  justify-self: center;    
}

.footer_menu-list {
  display: flex; 
  flex-direction: column;
  list-style: none;
  align-items: center;
}

.footer_menu-link {
  color: #000;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 1px;
}

.footer_menu-item_active .footer_menu-link {
    text-decoration: none;
}

.footer_social {
  justify-self: end;
  list-style: none;
  display: flex;
  gap: 48px;
}

.footer_social-list-item {
  display: block;
  width: 48px;
  height: 48px;
}

